.project {
  position: relative;
  flex-direction: column;
  border-radius: 5px;
}

.project::after {
  position: absolute;
  content: '';
  width: 75%;
  border-bottom: 1px solid rgb(227, 227, 227);
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -1em;
}

.project:last-of-type::after {
  border-bottom: none;
}

.project h2 {
  margin-bottom: 0.5em;
}

.project h2:first-of-type {
  margin-top: 1em;
}

.project img {
  max-width: 100%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.project .content {
  padding: 0 1em;
}

.project p {
  line-height: 1.75;
  margin-block: 1em;
}

.project ul {
  list-style-position: inside;
  line-height: 1.75;
}

.project .links {
  display: flex;
  justify-content: space-around;
  margin-block: 2em;
}

.project .links a {
  min-width: 100px;
  text-align: center;
  border: 1px solid black;
  color: black;
  padding: 0.25em 0.5em;
  border-radius: 4px;
  transition: background-color 200ms ease-in, color 200ms ease-in;
}

.project .links a:hover {
  background-color: black;
  color: white;
}
