.wrapper {
  display: flex;
  justify-content: center;
  padding: 2em 1em;
}

.wrapper .projects {
  min-height: 100vh;
  width: clamp(200px, 100%, 53em);
}

.wrapper .projects .column {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.wrapper .projects h1 {
  text-align: center;
}
